.tasks {
  &__state {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
  }

  &__button {
    background-color: transparent;
    font-size: 23px;
    font-weight: 500;
    white-space: nowrap;
    border: none;
    cursor: pointer;

    &:hover,
    &--active {
      color: rgb(0, 114, 221);
      border: none;
      border-bottom: 1px solid rgb(0, 114, 221);
    }

    &--active {
      font-weight: 600;
    }
  }
}
