/* *{
    border: 2px solid red;
} */
.tasks {
    margin: 20px 20px;
}
.task {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
}

.task__possition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.alignment {
    align-items: center;
}

.possition__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 15px;
}

.task__title {
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
    margin:auto;
    font-size: 15px;
    font-weight: 500;
}

.button__rename {
    background-color: rgb(42, 92, 255);
}

.button__delete {
    background-color: rgb(255, 52, 52);
    margin-right: 20px;
}

.button__save {
    background-color: rgb(26, 247, 26);
}

.button__back {
    color:white;
    background-color: black;
}

.rename__img {
    width:70px;
    margin: auto;
}

.img {
    width: 50px;
}

.checkbox-round {
    width: 2rem;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-image:url(../../assets/checkMark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99% auto;
}

input:disabled {
    color: inherit;          
    background: inherit;     
    opacity: 1;              
  }





/* css TasksState */
.tasks__state {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.tasks__button{
    background-color: transparent;
    font-size: 23px;
    font-weight: 500;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.tasks__button.active {
    color:rgb(0, 114, 221);
    border:none;
    border-bottom: 1px solid rgb(0, 114, 221);
    font-weight: 600;
}


.tasks__button:hover {
    color:rgb(0, 114, 221);
    border:none;
    border-bottom: 1px solid rgb(0, 114, 221);
}

